<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-no-padding">
      <ion-icon name="logo-ionic" color="primary"></ion-icon>
    </ion-title>
    <ion-button (click)="switchMode()" slot="end" fill="clear">
      {{ isLoginview? 'Signup': 'Login'}}
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <ion-spinner *ngIf="isLoading"></ion-spinner> -->
  <app-login *ngIf="isLoginview" (loginEvent)="onLogin($event)">
  </app-login>

  <app-signup *ngIf="isLoginview == false" (signupEvent)="switchMode()">
  </app-signup>
</ion-content>
