<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1">
        <ion-list>
          <ion-list-header  class="ion-align-items-center ion-justify-content-center">
            <ion-grid>
              <ion-row>
                <h1>{{ "People" | translate}}</h1>
              </ion-row>
              <ion-row>
                <!-- <ion-spinner color="primary"></ion-spinner> -->
              </ion-row>
            </ion-grid>
          </ion-list-header>
          <ion-item *ngFor="let user of users"  [routerLink]="['/people', user.id]">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <ion-avatar>
                    <img [src]="user.image"/>
                  </ion-avatar>
                </ion-col>
                <ion-col size="7">
                  <ion-text class="ion-align-self-center">
                    {{ user.firstName }} {{ user.lastName}}
                  </ion-text>
                </ion-col>
                <ion-col size="2">
                  <ion-icon style="color: gray" name="chevron-forward-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
