<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button  slot="start" [routerLink]="['../../home']"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"My own events"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1">
        <ion-list>
          <ion-list-header  class="ion-align-items-center ion-justify-content-center">
            <ion-grid>
              <ion-row>
                <h1 *ngIf="myEvents.length>0">{{ "My Own Events"}}</h1>
                <div *ngIf="myEvents.length == 0">
                  <h1>{{ "You didn't add any events yet"}}</h1>
                  <ion-button fill="outline" expand="block" routerLink="../../home/add-event">Add now!</ion-button>
                </div>
              </ion-row>
              <ion-row>
                <!-- <ion-spinner color="primary" *ngIf="downloading"></ion-spinner> -->
              </ion-row>
            </ion-grid>
          </ion-list-header>
          <app-card *ngFor="let event of myEvents" [event]="event"></app-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
