<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-vertical-stepper linear #stepper> <!-- linear -->
    <mat-step>
        <ng-template matStepLabel>Specify your event details</ng-template>

        <app-form
          (typeEvent)="setType($event)"
          (styleEvent)="setStyle($event)"
          (occurEvent)="setOccurrence($event)">
        </app-form>

        <ion-calendar
          [options] = "options"
          [ngModel]="dateMulti"
          (change) = "changeStartDate($event)"
          [type]="dateType"
          [format]="'YYYY-MM-DD'">
        </ion-calendar>

        <button class="next" matButton matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Specify the location</ng-template>
      <app-map (mapEvent)="setLocation($event)"></app-map>
      <div>
        <ion-button color="danger" (click)="reset()">Reset</ion-button>
        <ion-button (click)="submitEvent()">Submit</ion-button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</ion-content>
