<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
      <ion-back-button  slot="start" [routerLink]="['../']"></ion-back-button>
    <ion-title>{{loadedPerson.firstName}}</ion-title>
  </ion-toolbar>
  <div class="bg">
      <img [src]="loadedPerson.image" alt="person" />
  </div>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-vertical">
    <ion-row>
      <ion-col  size-sm="10" offset-sm="1">
        <ion-list>
          <ion-item>
            <ion-icon name="person"></ion-icon>
            <ion-text><strong>Full name:</strong> {{loadedPerson.firstName}} {{loadedPerson.lastName}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-icon name="location"></ion-icon>
            <ion-text><strong>Address:</strong> {{loadedPerson.address}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-icon name="code-working-outline"></ion-icon>
            <ion-text><strong>Job:</strong> {{loadedPerson.job}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-icon name="phone-portrait-outline"></ion-icon>
            <ion-text><strong>Mobile:</strong> {{loadedPerson.mobileNumber}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-icon name="egg-outline"></ion-icon>
            <ion-text><strong>Age:</strong> {{loadedPerson.age}} years old.</ion-text>
          </ion-item>
          <ion-item>
            <ion-icon name="male-female-outline"></ion-icon>
            <ion-text><strong>Gender:</strong> {{loadedPerson.gender}}</ion-text>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
