<ion-app>
  <ion-split-pane contentId="main-content" persistent="true">
    <ion-menu contentId="main-content" persistent="true"  content="content"  menuId="custom">
      <ion-content #content>
        <ion-list id="inbox-list" class="ion-no-border">
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['home/user-profile']">
              <ion-grid>
                <ion-row>
                  <ion-col size-xs="3">
                    <ion-avatar>
                      <img src="https://cdn3.iconfinder.com/data/icons/vector-icons-6/96/256-512.png"
                      alt="user" width="20" />
                    </ion-avatar>
                  </ion-col>
                  <ion-col size-xs="9">
                    <ion-grid>
                    <ion-row>
                      <ion-list-header>{{currentUser.firstName}}</ion-list-header>
                    </ion-row>
                    <ion-row class="ion-text-wrap">
                      <ion-note>{{currentUser.email}}</ion-note>
                    </ion-row>
                  </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <svg viewBox="0 0 296 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 48.0616C154.953 53.4969 67.5436 -45.4866 296 26.0894V164H0V48.0616Z" fill="#309CFF"/>
          <path d="M0 48.0616C154.953 53.4969 67.5436 -45.4866 296 26.0894V164H0V48.0616Z" fill="#309CFF"/>
          <path d="M0 113.017C122 -5.30332 133 117.826 296 99.5494V164H0V113.017Z" fill="#3340B5"/>
        </svg>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content">
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>
