<ion-header>
  <!-- <svg width="1142" height="89" viewBox="0 0 1142 89" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 77.6632C61.7297 77.6632 266.209 103.171 1142 77.6632V2.21975e-06H0V77.6632Z" fill="#309CFF"/>
    <path d="M0 77.6632C61.7297 77.6632 266.209 103.171 1142 77.6632V2.21975e-06H0V77.6632Z" fill="#309CFF"/>
    <path d="M0 6.70723e-07C462.973 117.407 706.034 67.868 1142 15.1074V1.48889e-05L0 6.70723e-07Z" fill="#3340B5"/>
  </svg> -->


  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1">
        <ion-list>
          <ion-list-header  class="ion-align-items-center ion-justify-content-center">
            <ion-grid>
              <ion-row>
                <h1>{{ "Upcoming Events" | translate}}</h1>
              </ion-row>
              <ion-row>
                <ion-spinner color="primary" *ngIf="downloading"></ion-spinner>
              </ion-row>
            </ion-grid>
          </ion-list-header>
          <ion-card *ngFor="let ev of homeEvents">
            <ion-card-header>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-card-title>
                      {{ ev.title }}
                    </ion-card-title>
                  </ion-col>
                  <!-- <ion-col>
                    <ion-label>
                      {{ ev.status }}
                    </ion-label>
                  </ion-col> -->
                </ion-row>
                <ion-row class="ion-justify-content-around">
                  <ion-col size-sm="8">
                    <ion-label >
                      <ion-icon name="today" color="danger" style="zoom:1.2;"></ion-icon>
                      <ion-text>{{ ev.dates }}</ion-text>
                    </ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label  class="ion-text-right">
                      <ion-icon name="location" color="warning" style="zoom:1.4;"></ion-icon>
                      {{ ev.location.city }}
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-text class="tag" *ngFor="let tag of ev.tags">
                    {{ tag }}
                  </ion-text>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab class="ion-margin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="gotoSchedule()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
