.bg {
    background-color: #f3f3f3;
    border-radius: 20px 20px 0 0;
}

ion-toolbar {
    --background: transparent;
    color: #fff;

    ion-buttons {
        min-height: 0;
    }

}

svg {
    position: absolute;
    top: 0;
    left: -1vw;
    // height: 130%;
    z-index: 1;
  }

  @media screen and (max-width: 768px) {
    svg {
        left: -1vh;
        // height: 100%;
    }
  }