<form #form="ngForm">

  <ion-item>
    <ion-select
      placeholder="One Time/Recurring"
      name="evType"
      (ionChange) = "setType($event)"
      [(ngModel)]="evType">
      <ion-select-option value="one">One Time</ion-select-option>
      <ion-select-option value="more">Recurring</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="evType == 'more' ">
    <ion-select
      placeholder="Daily/Weekly/Monthly"
      name="evStyle"
      (ionChange) = "setStyle()"
      [(ngModel)]="evStyle">
      <ion-select-option value="daily">Daily</ion-select-option>
      <ion-select-option value="weekly">Weekly</ion-select-option>
      <ion-select-option value="monthly">Monthly</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="evType == 'more' ">
    <ion-input
      placeholder="Number of occurrences"
      type="number"
      name="evOccurrence"
      min="0"
      (change) = "setOccurrence()"
      [(ngModel)]="evOccurrence">
    </ion-input>
  </ion-item>
</form>
