ion-card-title {
    font-size: 1.6em;
}

ion-label {
    color: #444;
    display: flex;
    justify-content: space-around;
}

.tag {
    background-color: lightgray;
    margin: 0.2em;
    border-radius: 30px;
    text-align: center;
    padding: 0.5em;
    color: #222;
    font-size: 0.8em;
}