<ion-split-pane contentId="main-content" persistent="true">
  <ion-menu contentId="main-content" persistent="true"  content="content"  menuId="custom" #menu>
    <ion-content #content>
      <ion-list id="inbox-list" class="ion-no-border">
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['home/user-profile']">
            <ion-grid>
              <ion-row>
                <ion-col size-xs="3">
                  <ion-avatar>
                    <img [src]='currentUserData.image'
                    alt="user" />
                  </ion-avatar>
                </ion-col>
                <ion-col size-xs="9" *ngIf="currentUserData.firstName && currentUserData.email">
                  <ion-grid>
                  <ion-row>
                    <ion-list-header>{{currentUserData.firstName}}</ion-list-header>
                  </ion-row>
                  <ion-row class="ion-text-wrap">
                    <ion-note>{{currentUserData.email}}</ion-note>
                  </ion-row>
                </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages; let i = index">
          <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <svg viewBox="0 0 296 401" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 72.5003C16 72.5003 66 167.268 296 0V401H0V72.5003Z" fill="#309CFF"/>
        <path d="M0 72.5003C16 72.5003 66 167.268 296 0V401H0V72.5003Z" fill="#309CFF"/>
        <path d="M2 400C277 218.283 46 170.637 296 0V158.105V400H2Z" fill="#3340B5"/>
      </svg>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>