<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1">
        <ion-list>
          <ion-list-header>
            <h1 class="ion-text-center">Upcoming Events</h1>
          </ion-list-header>
          <ion-card *ngFor="let ev of homeEvents">
            <ion-card-header>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-card-title>
                      {{ ev.title }}
                    </ion-card-title>
                  </ion-col>
                  <!-- <ion-col>
                    <ion-label>
                      {{ ev.status }}
                    </ion-label>
                  </ion-col> -->
                </ion-row>
                <ion-row class="info">
                  <ion-col size="8">
                    <ion-label class="date">
                      <ion-icon name="today" color="danger" style="zoom:1.2;"></ion-icon>
                      {{ ev.dates }}
                    </ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label class="city"  class="ion-text-right">
                      <ion-icon name="location" color="warning" style="zoom:1.4;"></ion-icon>
                      {{ ev.location.city }}
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-text class="tag" *ngFor="let tag of ev.tags">
                    {{ tag }}
                  </ion-text>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
