<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label class="label" position="floating">Email</ion-label>
          <ion-input #emailInput="ngModel" type="email" ngModel email required name="email"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="!emailInput.valid && emailInput.touched">
          Should be a valid email address.
        </ion-text>
        <ion-item>
          <ion-label class="label" position="floating">Password</ion-label>
          <ion-input #passwordInput="ngModel" type="password" ngModel required name="password" minlength="6"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="!passwordInput.valid && passwordInput.touched">
          Should be a valid password.
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button [disabled]="!f.valid" type="submit" expand="block">
          {{'Login'}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>