<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Page not found</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title>
              <h1>404</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text class="ion-margin">
              <h2>It seems like you are lost!</h2>
            </ion-text>
            <ion-text>
              <h3>
                Back home in: {{ seconds }}
              </h3>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <svg viewBox="0 0 296 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 48.0616C154.953 53.4969 67.5436 -45.4866 296 26.0894V164H0V48.0616Z" fill="#309CFF"/>
    <path d="M0 48.0616C154.953 53.4969 67.5436 -45.4866 296 26.0894V164H0V48.0616Z" fill="#309CFF"/>
    <path d="M0 113.017C122 -5.30332 133 117.826 296 99.5494V164H0V113.017Z" fill="#3340B5"/>
  </svg>
</ion-content>
